		<div class="content">	
			<!--轮播部分-->
			<div class="banner">
		        <ul class="banner-in">		          
		            <li><a href=""><img src="http://i1.douguo.net/upload/banners/1475745453.jpg" alt="" /></a></li>
		            <li><a href=""><img src="http://i1.douguo.net/upload/banners/1476928473.jpg" alt="" /></a></li>
		            <li><a href="template/home/meidi.html" target="_blank"><img src="http://i1.douguo.net/upload/banners/1476706373.jpg" alt="" /></a></li>
		            <li><a href=""><img src="http://i1.douguo.net/upload/banners/1475745453.jpg" alt="" /></a></li>
		            <li><a href=""><img src="http://i1.douguo.net/upload/banners/1475745416.jpg" alt="" /></a></li>
		        </ul>
		        <div class="btn1 btn">
		            <a href="javascript:;" class="leftBtn iconfont">&#xe616;</a>
		        </div >
		        <div class="btn2 btn">
		        	<a href="javascript:;" class="rightBtn iconfont">&#xe616;</a>
		        </div>
		            
		        
		        <div class="circle">
		            <span></span>
		            <span class="cur"></span>
		            <span></span>
		            <span></span>
		            <span></span>		         
		        </div>
		    </div>
			
			<!--每日编辑部分-->
			<div class="editor">
				<h1><a href="">每日编辑推荐</a></h1>
				<ul>
					<li>
						<a href=""></a>
						<p><a href="">电饭锅版盐焗鸡</a></p>
						<p>by <a href="">漂泊的湖</a>&nbsp;<a href=""></a></p>
					</li>
					<li>
						<a href=""></a>
						<p><a href="">锅塌豆腐</a></p>
						<p>by <a href="">youhaha0的厨房</a>&nbsp;<a href=""></a></p>	
					</li>
					<li>
						<a href=""></a>
						<p><a href="">抓炒里脊</a></p>
						<p>by <a href="">热情幸福的眼泪</a>&nbsp;<a href=""></a></p>						
					</li>
					<li style="margin: 0;">
						<a href=""></a>
						<p><a href="">小朋友的11个赞—蛋包饭</a></p>
						<p>by <a href="">嗨小馋猫</a></p>
					</li>
					<li>
						<a href=""></a>
						<p><a href="">小时候的味道----红糖糍粑</a></p>
						<p>by <a href="">美姐姐的小资生活</a>&nbsp;<a href=""></a></p>
					</li>
					<li>
						<a href=""></a>
						<p><a href="">姜味辣烤猪肋排</a></p>
						<p>by <a href="">ms蜗牛</a></p>
					</li>
					<li>
						<a href=""></a>
						<p><a href="">正宗柳州螺蛳粉|大嘴螺</a></p>
						<p>by <a href="">大嘴螺</a></p>
					</li>
					<li style="margin: 0;">
						<a href=""></a>
						<p><a href="">土豆烧肉</a></p>
						<p>by <a href="">豆豆袁</a></p>	
					</li>
				</ul>
			</div>

			<!--够好货精选部分-->
			<div class="shop">
				<h4>够好货精选 <a href="">(更多)</a></h1>
				<ul>
					<li>
						<a href=""></a>
						<p><a href="http://www.douguo.com/mall/item/8973?f=main">现货 九百亩阳澄大闸蟹鲜活螃蟹 全母2.6-2.3两8</a></p>
						<p>￥99.00 <span>￥198.00</span></p>
						<p>月售  <span> 1456件</span> <span>包邮</span></p>
					</li>
					<li>
						<a href=""></a>
						<p><a href="">【买即赠蜂蜜唇膏】舌尖上Honey 新疆黑蜂山花蜂巢蜜 280g/盒</a></p>
						<p>￥58.00 <span>￥98.00 </span></p>
						<p>月售  <span> 650盒</span> <span>包邮</span></p>
					</li>
					<li>
						<a href=""></a>
						<p><a href="">特级牛排套餐8份装 配进口黄油 酱包 刀叉2套 顺丰包邮</a></p>
						<p>￥118.00 <span>￥138.00 </span></p>
						<p>月售  <span> 5074份</span> <span>包邮</span></p>
					</li>
					<li style="margin: 0;">
						<a href=""></a>
						<p><a href="">【赠苹果醋248ml】欣和 醯官醋原浆苹果醋500ml*2瓶</a></p>
						<p>￥49.00 <span>￥58.00 </span></p>
						<p>月售  <span> 34瓶</span> <span>包邮</span></p>
					</li>
				</ul>
			</div>
			
			<!--时令食材及以下部分-->
			<div class="mainpart">
				<div class="left_part">
					<h4>时令食材 <a href="">(根据食材找菜谱)</a></h4>
					<ul class="food">
						<li><a href="">鳝鱼</a></li>
						<li><a href="">油麦菜</a></li>
						<li><a href="">田螺</a></li>
						<li><a href="">黄豆</a></li>
						<li><a href="">带鱼</a></li>
						<li><a href="">鲫鱼</a></li>
						<li style="margin: 0;"><a href="">海带</a></li>
						<li><a href="">蘑菇</a></li>
						<li><a href="">香椿</a></li>
						<li><a href="">马兰头</a></li>
						<li><a href="">山药</a></li>
						<li><a href="">韭菜</a></li>
						<li><a href="">冬瓜</a></li>
						<li style="margin: 0;"><a href="">青椒</a></li>
					</ul>
					<h4>精彩主题文章 <a href="">(更多)</a></h4>
					<div class="article">
						<a href=""></a>
						<div>
							<a href="">传承百年匠心 惠而浦启航中国厨电市场</a>
							<p>千呼万唤始出来，经过了一轮又一轮的翘首等待，9月26日， 惠而浦厨房电器中国市场启动发布会终于在安徽合肥拉开了序幕。 此次发布会以“百年卓越品质 打造轻松愉悦的整体厨房享受”为核心理念， 不仅邀请了惠而浦全球战略采购副总裁 Gianluca，还请来了 五金制品协会和家电协会的高层领导， 可谓大牌云集、星光熠</p>
						</div>
					</div>
					<ul class="news">
						<li><a href="">德国米技进驻中国15周年 发布进口新生代感应炉及Cooking 助力洲际酒店集团基金会 </a></li>
						<li><a href="">pad系列产品洲际酒店集团连续9年举办慈善美食烹饪大赛</a></li>
						<li><a href="">遇见很美好，上海时尚家居展喜迎十周年</a></li>
						<li><a href="">厨电领跑家电行业 升级+创新双轮驱动市场</a></li>
						<li><a href="">香飘飘发布新一代产品，推动杯装奶茶产业新升级</a></li>
						<li><a href="">MEYER美亚携手优酷美食演绎音乐•美食神话 边看边买</a></li>
					</ul>
					<h4>写食派 <a href="">(更多)</a></h4>
					<ul class="xieshipai">
						<li>
							<a href=""></a>
							<p><a href="">红糖糍粑</a></p>
							<p><a class="name" href="">晴天小吃货</a> <a href="" class="daren"></a><i>在</i> <a class="address" href="">大龙火锅</a></p>
							<span>喜欢</span>
						</li>
						<li>
							<a href=""></a>
							<p><a href="">。 。</a></p>
							<p><a class="name" href="">适时求食</a> <a href="" class="daren"></a><i>在</i> <a class="address" href="">home</a></p>
							<span>喜欢</span>
						</li>
						<li>
							<a href=""></a>
							<p><a href="">鳗鱼寿司</a></p>
							<p><a class="name" href="">24miniyur</a> <a href="" class="daren"></a><i>在</i> <a class="address" href="">渔鲜生</a></p>
							<span>喜欢</span>
						</li>
						<li>
							<a href=""></a>
							<p><a href="">土鸡板栗煲</a></p>
							<p><a class="name" href="">sourcehe</a> <a href="" class="daren"></a><i>在</i> <a class="address" href="">Sourcehe私人厨</a></p>
							<span>喜欢</span>
						</li>
						<li>
							<a href=""></a>
							<p><a href="">花干鸡蛋夹馍</a></p>
							<p><a class="name" href="">Agnesdudu</a> <a href="" class="daren"></a><i>在</i> <a class="address" href="">食堂</a></p>
							<span>喜欢</span>
						</li>
						<li>
							<a href=""></a>
							<p><a href="">牛肉面</a></p>
							<p><a class="name" href="">芋头sun</a> <a href="" class="daren"></a><i>在</i> <a class="address" href="">蜀味成都小吃</a></p>
							<span>喜欢</span>
						</li>
					</ul>
					<h4>作品 <a href="">(更多)</a></h4>
					<ul class="works">
						<li>
							<a href=""></a>
							<div>
								<a href="">可乐鸡翅的作品</a>
								<p>对照菜谱做出来的作品<a href="">2725</a>个</p>
							</div>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
							<div>
								<a href="">戚风蛋糕的作品</a>
								<p>对照菜谱做出来的作品<a href="">2725</a>个</p>
							</div>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
							<div>
								<a href="">懒人糖醋排骨：无油更健康</a>
								<p>对照菜谱做出来的作品<a href="">2725</a>个</p>
							</div>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
							<div>
								<a href="">鱼香肉丝的作品</a>
								<p>对照菜谱做出来的作品<a href="">2725</a>个</p>
							</div>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a>
						</li>
						<li>
							<a href=""></a>
							<div>
								<a href="">蛋黄酥的作品</a>
								<p>对照菜谱做出来的作品<a href="">2725</a>个</p>
							</div>
							<a href=""></a>
							<a href=""></a>
							<a href=""></a>
						</li>
					</ul>				
				</div>
				<div class="right_part"> 
					<h4>精彩菜单 <a href="">(更多)</a></h4>
					<ul class="nicemenu">
						<li><a href="">节后刮油从“肠”计议</a></li>
						<li><a href="">饼干里藏着一个小精灵</a></li>
						<li><a href="">这一味多情咖喱</a></li>
						<li><a href="">十分钟，搞定快手早餐</a></li>
						<li><a href="">给你一个吃豆腐的机会</a></li>
					</ul>
					<h4>美食活动 <a href="">(更多)</a></h4>
					<img src="img/static/1476243397.gif" alt="美食活动" class="meishi"/>
					<h4>豆果达人 <a href="">(更多)</a><a href="" class="apply">申请达人</a></h4>
					<ul class="daren">
						<li>
							<a href=""></a>
							<div>
								<a href="">Sunshine_c</a>
								<p>私家菜达人</p>
								<p>760粉丝</p>
							</div>
							<a href="">+关注</a>
						</li>
						<li>
							<a href=""></a>
							<div>
								<a href="">C大小姐太傲娇</a>
								<p>家常菜达人</p>
								<p>5010粉丝</p>
							</div>
							<a href="">+关注</a>
						</li>
						<li>
							<a href=""></a>
							<div>
								<a href="">伦家厨房</a>
								<p>家常菜达人</p>
								<p>13130粉丝</p>
							</div>
							<a href="">+关注</a>
						</li>
						<li>
							<a href=""></a>
							<div>
								<a href="">虎虎生味儿</a>
								<p></p>
								<p>2073粉丝</p>
							</div>
							<a href="">+关注</a>
						</li>
						<li>
							<a href=""></a>
							<div>
								<a href="">凝视的瞬间</a>
								<p></p>
								<p>263粉丝</p>
							</div>
							<a href="">+关注</a>
						</li>
					</ul>
					<h4>豆果实验室</h4>
					<ul class="laboratory">
						<li><a href="">体质测试</a></li>
						<li><a href="">智能找菜</a></li>
						<li><a href="">豆果测试题</a></li>
						<li><a href="">豆果美食线下体验馆</a></li>
					</ul>
					<h4>客户端下载 <a href="">(更多)</a></h4>
					<ul class="client">
						<li><a href=""></a><a href="">豆果美食</a></li>
						<li><a href=""></a><a href="">写食派</a></li>
						<li><a href=""></a><a href="">豆果美食HD</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bottom_part">
			<div class="bottom_ct">
				<div class="douguoifo">
					<div class="logo2"></div>
					<h1>豆果美食，中文美食菜谱分享网站。</h1>
					<h2><span>850,000</span>道菜谱，<span>10,625,000</span>条美食日记，<span>7,500,000</span>美食达人，每天都有新分享。</h2>
					<div class="threbl">
						<h3>扫二维码，下载豆果手机应用：</h3>
						<ul>
							<li><a href=""></a>加微信好友</li>
							<li><a href=""></a>豆果美食</li>
							<li><a href=""></a>写食派</li>
						</ul>						
					</div>
				</div>
				<div class="cooperation">
					<h3>更多合作，更多精彩</h3>
					<ul>
						<li><a href=""></a><a href="">东方卫视</a></li>
						<li><a href=""></a><a href="">李锦记</a></li>
						<li><a href=""></a><a href="">卜蜂莲花-豆果美食体验馆</a></li>
						<li><a href=""></a><a href="">西班牙橄榄油</a></li>
						<li><a href=""></a><a href="">乡土乡亲</a></li>
						<li><a href=""></a><a href="">德国米技</a></li>
						<li><a href=""></a><a href="">欣和集团</a></li>
						<li><a href=""></a><a href="">爱奇艺</a></li>
						<li><a href=""></a><a href="">LEKUE</a></li>
						<li><a href=""></a><a href="">NALA</a></li>
						<li><a href=""></a><a href="">父母必读杂志社</a></li>
						<li><a href=""></a><a href="">漓江出版社</a></li>
						<li><a href=""></a><a href="">韩国大喜大</a></li>
						<li><a href=""></a><a href="">香港旅游局</a></li>
						<li><a href=""></a><a href="">《中国食品》</a></li>
						<li><a href=""></a><a href="">蓝洋出版</a></li>
						<li><a href=""></a><a href="">百里香</a></li>
						<li><a href=""></a><a href="">lifelist</a></li>
						<li><a href=""></a><a href="">丽思卡尔顿酒店</a></li>
						<li><a href=""></a><a href="">百度云</a></li>
						<li><a href=""></a><a href="">律云</a></li>
					</ul>
				</div>
			</div>
		</div>
<script src="js/swiper/lunbo.js"></script>
