<div class="mstyg">
	<h3>菜谱征集</h3>
	<p>【菜谱征集】是豆果美食与各知名品牌共同主办的菜谱征集活动，大家围绕每期不同的主题烹饪相关美食，上传菜谱秀出厨艺，主办方会汇集各路美食专家的意见来对参赛者的菜谱进行评奖，大礼等着你们哦，赶快来参与吧！</p>
</div>
<div class="qbhd">
	<ul class="clear">
		<li ng-repeat="ab in data">
			<a href="" class="actimg" style="background-image: url({{ ab.ab_img }});"><div class="end">已结束</div></a>
			<div class="actinfo">
				<h3>{{ ab.ab_title }}</h3>
				<span>时间： {{ ab.ab_time }}</span><br />
				<span ng-if="ab.ab_partner">合作方： {{ ab.ab_partner }}</span>
			</div>
			
		</li>
	</ul>
</div>