<div class="mstyg">
	<h3>美食课堂</h3>
	<p>【美食课堂】是豆果美食主办的线上美食课程活动，我们会定期邀请顶级厨师或豆果美食达人分享给大家既有趣又实用的料理心得。烹饪美食爱好者们在这里共同学习和切磋，而且我们还会为优秀的作品送出大礼，赶快来参与吧！ </p>
</div>
<div class="qbhd">
	<ul class="clear">
		<li ng-repeat="ab in data">
			<a href="" class="actimg" style="background-image: url({{ ab.ab_img }});"><div class="end">已结束</div></a>
			<div class="actinfo">
				<h3>{{ ab.ab_title }}</h3>
				<span>时间： {{ ab.ab_time }}</span><br />
				<span ng-if="ab.ab_partner">合作方： {{ ab.ab_partner }}</span>
			</div>
			
		</li>
	</ul>
</div>