<div class="mstyg">
	<h3>美食体验馆</h3>
	<p>【美食体验馆】是线下的美食课程体验场所，目前主要在上海和杭州举办。周末我们的老师会在现场手把手教大家制作美味的料理。课后您还可以将这些美味免费打包回家，与家人分享，我们有各种贴合节日时令的主题，好玩又好吃，赶快来报名吧！</p>
</div>
<div class="qbhd">
	<ul class="clear">
		<li ng-repeat="ab in data">
			<a href="" class="actimg" style="background-image: url({{ ab.ab_img }});"><div class="end">已结束</div></a>
			<div class="actinfo">
				<h3>{{ ab.ab_title }}</h3>
				<span>时间： {{ ab.ab_time }}</span><br />
				<span>地点： {{ ab.ab_place }}</span>
			</div>
			
		</li>
	</ul>
</div>

