.diary_left{
	float: left;
	width: 606px;
}
.diary_left >h3{
	height: 60px;
	line-height: 60px;
}
.diary_left >h3 a{
	float: right;
	font-size: 12px;
	font-weight: normal;
	padding-right: 25px;
	color: rgb(18,147,124);
}
.diary_left >h3 a.active{
	font-weight: bold;
	color: black;
}
.diary_left >h3 a.active:hover{
	color: black;
}
.dyli{
	position: relative;	
	margin-bottom: 40px;
}

.dyli:last-child .line{
	height: 600px;
}
.line{
	position: absolute;
	right: 0;
	top:0px;
	width: 3px;
	height: 631px;
	background-color: rgb(234,234,220);
	
}
.line:before{
	content: attr(data-font);
	position: absolute;
	left: -8px;
	top: -12px;
	width: 20px;
	height: 20px;
	color: rgb(234,234,220);
	transform: rotate(90deg);
	font-size: 20px;
}
.dyhead{
	float: left;
	width: 70px;
	height: 100px;
	margin-right: 20px;
	line-height: 170px;
	background-repeat: no-repeat;
	background-size: 70px;
	text-align: center;
	font-size: 12px;
	color: rgb(18,147,124);
}
.diary_left >h3 a:hover,
.dyhead:hover,
.dycont h4 a:hover{
	text-decoration: underline;
	color: rgb(237,88,92);
}
.dycont{
	float: left;
	width: 490px;
	background-color: white;
	box-shadow: 0 0 1px 1px rgb(219,219,219);
	position: relative;
}
.dycont:before{
	content: "";
	position: absolute;
	left: -6px;
	top:34px;
	width: 16px;
	height: 16px;
	background-color: white;
	box-shadow: -1px -1px 1px 0px rgb(219,219,219);
	border: 0;
	transform: rotate(-45deg);
}
.dycont h4{
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	font-weight: normal;
}
.dycont h4 a{
	color: rgb(18,147,124);
	font-size: 14px;
}
.dycont h4 span{
	float: right;
	padding-right: 20px;
	color: rgb(153,153,153);
	font-size: 12px;
}
.dycont .dyplace{
	display: inline-block;
	margin: 20px;
	margin-top: 0;
	padding: 5px 10px;
	font-size: 12px;
	color: rgb(61,61,61);
	border-radius: 4px;
	background-color: rgb(233,225,218);
}
.dycont .dyplace:hover,
.dybom a:hover{
	background-color: rgb(241,237,231);
}
.dycont .dyplace:hover span{
	text-decoration: underline;
}
.dyplace i{
	color: rgb(192,0,0);
}
.dycont .dybmg{
	display: block;
	width: 450px;
	height: 450px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-size: 450px;
}
.dycont .dybom{
	height: 20px;
	margin-bottom: 20px;
	padding-right: 20px;
}
.dybom a{
	float: right;
	font-size: 12px;
	padding: 4px 20px;
	border-radius: 4px;
	margin-left: 20px;
	color: rgb(81,81,81);
	background-color: rgb(233,225,218);
}
.dybom a:nth-of-type(3) i.iconfont{
	color: rgb(192,0,0);
}
.dybom a:nth-of-type(1) i.iconfont{
	color: rgb(18,147,124);
}
.diary_right{
	float: right;
	width: 300px;
}
.diary_right .dr_xz{
	display: block;
	font-size: 15px;
	font-weight: normal;
	color: white;
	height: 50px;
	margin-top: 60px;
	line-height: 50px;
	text-align: center;
	background-color: rgb(111,191,177);
}
.diary_right .dr_xz:hover{
	background-color: rgb(140,204,193);
}
.hotdiary,
.weekmaster{
	float: left;
	width: 300px;
}
.hotdiary h3,
.weekmaster h3{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: normal;
	color: rgb(51,51,51);
	margin-bottom: 10px;	
}
.hotdiary li,
.weekmaster li{
	height: 100px;
	/*background: red;*/
	padding: 15px;
	padding-left: 0;
	box-sizing: border-box;
	border-bottom: 1px dotted rgb(229,229,229);
}
.hotdiary a,
.weekmaster a{
	font-size: 13px;
	color: rgb(18,147,124);
}
.hotdiary .hdimg,
.weekmaster .wmimg{
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 10px;
	background-repeat: no-repeat;
}
.hotdiary .hdname{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: rgb(153,153,153);
}

.weekmaster{
	margin-top: 40px;
}
.weekmaster .gz{
	display: inline-block;
	height: 24px;
	width: 64px;
	border-radius: 4px;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	color: rgb(61,61,61);
	margin-top: 8px;
	background-color: rgb(233,225,218);
}
.weekmaster .gz:hover{
	background-color: rgb(241,237,231);
}
.hdinfo:hover,.hdname a:hover,
.wmname:hover,.wminfo a:hover{
	text-decoration: underline;
	color: rgb(237,88,92);
}

