*{
	margin: 0;
	padding: 0;
}
html{
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
/*顶部logo部分*/
.header{
	height: 92px;
}
.header .logo{
	width: 940px;
	height: 73px;
	margin: 0 auto;
	padding-top: 19px;
}
.logo a{
	display: block;
	width: 180px;
	height: 54px;
	background:url(../img/login/logo_lo.png) no-repeat;
}


/*内容部分*/
.main{
	background-color: rgb(248,248,247);
	padding: 40px 0;
}
.main .content{
	width: 940px;
	margin: 0 auto;
	background-color: white;
}
.content > .header{
	height: 58px;
	line-height: 58px;
	border-bottom: 1px dotted rgb(220,220,220);
}
.content > .header span:nth-of-type(1){
	float: left;
	padding-left: 40px;
}
.content > .header span:nth-of-type(2){
	float: right;
	padding-right: 40px;
}
.content > .header span:nth-of-type(2) a{
	color: rgb(18,147,124);
}
.content > .header span:nth-of-type(2) a:hover{
	text-decoration: underline;
}


/*表单部分*/
.form{
	width: 350px;
	margin: 0 auto;
	padding: 28px;
}
.form > input,#zhuce{
	display: block;
	width: 310px;
	height: 36px;
	margin: 2px auto;
	margin-bottom: 10px;
	font-size: 14px;
	text-indent: 12px;
	color: rgb(53,53,53);
	border-radius: 4px;
	border: 1px solid rgb(222,222,211);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.form > p{
	color: rgb(153,153,153);
	font-size: 12px;
	text-indent: 20px;
}
.form .test{
	width: 310px;
	height: 36px;
	margin: 0 auto;
}
.test #test_info{
	float: left;
	width: 120px;
	height: 32px;
	text-indent: 12px;
	border-radius: 4px;
	border: 1px solid rgb(222,222,211);
}
.test button{
	float: right;
	width: 120px;
	height: 32px;
	background-color: rgb(238,238,238);
	border-radius: 4px;
	cursor: pointer;
	color: rgb(153,153,153);
	font-size: 16px;
	border: 1px solid rgb(222,222,211);
}
.form > span{
	display: block;
	text-align: center;
	margin: 5px auto;
	margin-top: 18px;
	color: red;
	font-size: 12px;
}
.douguo_info{
	width: 310px;
	height: 36px;
	margin: 0 auto;
	font-size: 14px;
	text-indent: 12px;
	color: rgb(153,153,153);
}
.douguo_info a{
	color: rgb(18,147,124);
}
.douguo_info a:hover{
	color: rgb(237,88,92);
	text-decoration: underline;
}
#zhuce{
	height: 40px;
	background-color: rgb(236,115,9);
	color: white;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	margin: 0 auto;
	border-radius: 4px;
}
.form .other{
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	font-size: 15px;
	color: rgb(51,51,51);
}
.form .type{
	width: 310px;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	font-size: 14px;
	border-top: 1px dotted rgb(220,220,220);
	border-bottom: 1px dotted rgb(220,220,220);
	
}
.form .type a{
	position: relative;
	padding-left:24px ;
	color: rgb(51,51,51);
	margin-right: 10px;
}
.type a i{
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 25px;
	background-image: url(../img/login/loicon.png);
	background-repeat: no-repeat;
}
.type a:nth-of-type(1) i{
	background-position: 0 -47px;
}
.type a:nth-of-type(2) i{
	background-position: -33px -46px;
}
.type a:nth-of-type(3) i{
	background-position: -64px -45px;
}



